@use "../../../../../styles/sass/core/colors";

.dialogBox {
    background-color: rgba(colors.$primary, 0.8);
    backdrop-filter: blur(6px);
    padding: 0.4rem 3rem;
    box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.59);

    .line {
        position: absolute;
        background-color: colors.$light;
    }

    .line1 {
        animation:
            expend-height 1s,
            move-vertical 10s infinite forwards;
        transform-origin: top;
        top: -48px;
        left: 0;
        height: 100%;
        width: 2px;
    }

    .line2 {
        animation:
            expend-height 1s,
            move-vertical 10s infinite forwards;
        transform-origin: bottom;
        top: 10%;
        right: 0;
        height: 100%;
        width: 2px;
    }

    .line3 {
        animation:
            expend-width 1s,
            move-horizontal 10s infinite forwards;
        top: 0;
        left: -48px;
        transform-origin: left;
        height: 2px;
        width: 100%;
        scale: 1.1 1;
    }

    .line4 {
        animation:
            expend-width 1s,
            move-horizontal 10s infinite forwards;
        transform-origin: right;
        bottom: 12px;
        right: -48px;
        height: 2px;
        width: 100%;
        scale: 0.6 1;
    }
}

@keyframes expend-width {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes expend-height {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

@keyframes move-horizontal {
    0% {
        transform: translateX(-16px);
    }
    50% {
        transform: translateX(16px);
    }
    100% {
        transform: translateX(-16px);
    }
}

@keyframes move-vertical {
    0% {
        transform: translateY(-16px);
    }
    50% {
        transform: translateY(16px);
    }
    100% {
        transform: translateY(-16px);
    }
}
