@use "styles/sass/core/layout";
@use "styles/sass/core/colors";
@use "styles/sass/core/typography";
@use "styles/sass/functions/breakpoints";

.section {
    background-color: colors.$primary;

    .wrapper {
        position: relative;
        @include layout.container;
        @include layout.max-container;

        .container {
            display: flex;
            flex-direction: column;
            align-items: center;
            transition: all 0.5s ease;
            @include breakpoints.large-desktop {
                flex-direction: row;
            }

            &.isSelected {
                transform: translateX(-30%);
                transition: all 0.5s ease;
            }

            .backButton{
                left: 30%;
                top: 0;
                position: absolute;
                background-color: colors.$light;
                border-radius: 50%;
                height: 40px;
                width: 40px;
                display: flex;
                justify-content: center;
                align-items: center;
                opacity: 0;
                transition: opacity 0.3s ease;
                transition-delay: 0.5s;

                &:hover, &:focus {
                    transition: opacity 0.1s ease;
                    cursor: pointer;
                    background-color: darken(colors.$light, 4%);
                }

                &.isSelected {
                    opacity: 1;
                }
            }

            .titleContainer {
                @include typography.section-title;
                text-transform: uppercase;
                color: colors.$light;
                margin-bottom: 2rem;
                @include breakpoints.large-desktop {
                    margin-bottom: 0;
                }

                .title {
                    @include typography.section-title;

                    &:focus span {
                        font-size: clamp(2rem, 4vw, 4rem);
                    }
                }
            }

            .textContainer {
                color: colors.$light;
                transition: all 0.5s ease;
                @include breakpoints.large-desktop {
                    max-width: 30%;
                }

                &.isSelected {
                    opacity: 0;
                    transition: all 0.5s ease;
                }
            }

            .projects {
                display: flex;
                width: 100%;
                height: 600px;
                margin-top: 4rem;
                gap: 1rem;
                padding: 1rem;
                @include breakpoints.mobile {
                    flex-direction: column;
                }
                @include breakpoints.large-desktop {
                    margin-top: 0;
                    margin-left: 4rem;
                }
            }

            .fullWidth {
                & > * {
                    flex-basis: 0;
                }
            }

            .fullText {
                position: absolute;
                right: 0;
                max-width: 34%;
                transform: translateX(-10%);
                opacity: 0;
                transition: all 0.5s ease;
                z-index: -1;

                &.isSelected {
                    transform: translateX(calc(100% + 2rem));
                    opacity: 1;
                    transition: all 0.5s ease;
                    transition-delay: 0.4s;
                }
            }
        }
    }
}
