@use "styles/sass/core/colors";
@use "styles/sass/functions/breakpoints";

.gameContainer {
    position: relative;
    display: flex;
    height: auto;
    width: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;

    @include breakpoints.large-desktop {
        height: 98dvh;
        margin-inline: 4rem;
    }

    .gameUI {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: colors.$light;
    }
}
