@use "styles/sass/core/colors";

.gameContainer {
  position: relative;
  margin-inline: 4rem;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;

  .gameUI {
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: colors.$light;
  }
}
