@use "styles/sass/functions/breakpoints";

@mixin section-title {
    font-weight: bold;
    font-size: 4rem;
    text-transform: uppercase;
    @include breakpoints.mobile {
        font-size: 2.5rem;
    }
}
