@use "styles/sass/core/layout";
@use "styles/sass/core/colors";
@use "styles/sass/functions/breakpoints";

.section {
    width: 100%;
    background-color: colors.$dark;
    padding-bottom: 60px;

    @include breakpoints.large-desktop {
        padding-bottom: 0;
    }

    .container {
        position: relative;
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        justify-content: center;
        @include layout.max-container;

        .divider {
            top: 0;
            position: absolute;
            width: 80px;
            height: 1px;
            background-color: colors.$light;
        }

        .email {
            color: colors.$light;
            @include breakpoints.desktop {
                position: absolute;
                right: 2rem;
            }
        }

        .icon {
            width: 45px;
        }

        .links {
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 2rem;
            margin-block: 2rem;
        }
    }
}
