@use 'styles/sass/functions/breakpoints';
@use 'styles/sass/core/colors';
@use 'styles/sass/core/fonts';
@use 'styles/sass/core/screens';
@use 'styles/sass/core/layout';

.container {
    height: 100vh;
    margin: auto;
    padding: 2rem;
    width: 100%;
    display: flex;
    background: url("/images/background.jpg") no-repeat center;
    background-size: cover;
    @include breakpoints.desktop {
        padding: 4rem;
    }
    .textContainer {
        @include layout.max-container;
        margin-top: auto;
        margin-bottom: 5%;
        color: colors.$light;
        .title {
            font-weight: bold;
            font-size: min(5rem, 15vw);
            margin-bottom: 1rem;
            @include breakpoints.desktop {
                margin-bottom: 3rem;
                font-size: 7rem;
            }
        }
        .subTitle {
            font-family: fonts.$text-font-family;
            font-weight: 350;
            font-size: 2rem;
            max-width: 18ch;
            letter-spacing: 1.2px;
            @include breakpoints.desktop {
                font-size: 4rem;
                letter-spacing: 1.5px;
            }
        }
    }
}
