@use "styles/sass/functions/breakpoints";
@use "styles/sass/core/colors";
@use "styles/sass/core/fonts";
@use "styles/sass/core/screens";
@use "styles/sass/core/layout";

.container {
    height: 100vh;
    margin: auto;
    width: 100%;
    padding: 2rem;
    display: flex;
    background-color: colors.$dark;
    overflow-x: hidden;
    @include breakpoints.desktop {
        padding: 4rem;
    }

    .backgroundImage {
        position: absolute;
        width: 100%;
        height: 100%;
        object-position: center;
        object-fit: cover;
        margin-left: -2rem;
        margin-top: -2rem;
        @include breakpoints.desktop {
            margin-left: -4rem;
            margin-top: -4rem;
        }

        &.lightsOn {
            filter: brightness(3) saturate(400%);
        }

        &.masked {
            mask-image: url("/images/landing/landing-1024-512-mask.webp");
            mask-size: cover;
            mask-position: center;
        }
    }

    .openingLayer {
        margin-left: -2rem;
        margin-top: -2rem;
        position: absolute;
        height: 100vh;
        width: 100%;
        z-index: 10;
        background-color: transparent;
        animation: fade-color 1.2s ease-in-out forwards, no-height 0s forwards 1.2s;
        @include breakpoints.desktop {
            margin-left: -4rem;
            margin-top: -4rem;
        }
    }

    .gradient {
        margin-left: -2rem;
        margin-top: -2rem;
        position: absolute;
        height: 100vh;
        width: 100%;
        background: linear-gradient(0deg, colors.$dark 0%, transparentize(colors.$dark, 0.2) 10%, transparent 50%);
        @include breakpoints.desktop {
            margin-left: -4rem;
            margin-top: -4rem;
        }
    }

    .textContainer {
        z-index: 2;
        margin-top: auto;
        margin-bottom: 5%;
        color: colors.$light;
        @include layout.max-container;

        .titleContainer {
            margin-bottom: 1rem;
            animation: slide-in 1s ease-in-out, fade-in 1.2s ease-in-out;
            @include breakpoints.desktop {
                margin-bottom: 3rem;
            }

            .title {
                font-weight: bold;
                font-size: min(5rem, 15vw);
                @include breakpoints.desktop {
                    font-size: 7rem;
                }
            }
        }
        .subTitle {
            font-family: fonts.$text-font-family;
            font-weight: 350;
            font-size: 2rem;
            max-width: 18ch;
            letter-spacing: 1.2px;
            animation: slide-in 1s ease-in-out 0.2s, fade-in 1.2s ease-in-out;
            @include breakpoints.desktop {
                font-size: 3.5rem;
                letter-spacing: 1.5px;
            }
        }
    }
}

@keyframes fade-color {
    from {
        background-color: colors.$dark;
    }
    to {
        background-color: transparent;
    }
}

@keyframes slide-in {
    from {
        transform: translateX(300px);
    }
    to {
        transform: translateX(0);
    }
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes no-height {
    from {
        height: 100vh;
    }
    to {
        height: 0;
    }
}
