@use "styles/sass/functions/breakpoints";
@use "styles/sass/core/colors";
@use "styles/sass/core/fonts";
@use "styles/sass/core/screens";
@use "styles/sass/core/layout";

.container {
    height: 100vh;
    margin: auto;
    padding: 2rem;
    width: 100%;
    display: flex;
    background: url("/images/backgroundDefault2.jpg") no-repeat bottom;
    background-size: cover;
    @include breakpoints.desktop {
        padding: 4rem;
    }

    .gradient {
        margin-left: -2rem;
        margin-top: -2rem;
        position: absolute;
        height: 100vh;
        width: 100%;
        background: linear-gradient(0deg, colors.$dark 0%, transparentize(colors.$dark, 0.2) 20%, transparent 60%);
        @include breakpoints.desktop {
            margin-left: -4rem;
            margin-top: -4rem;
        }
    }

    .textContainer {
        z-index: 2;
        margin-top: auto;
        margin-bottom: 5%;
        color: colors.$light;
        @include layout.max-container;

        .titleContainer {
            margin-bottom: 1rem;
            @include breakpoints.desktop {
                margin-bottom: 3rem;
            }

            .title {
                font-weight: bold;
                font-size: min(5rem, 15vw);
                @include breakpoints.desktop {
                    font-size: 7rem;
                }
            }
        }
        .subTitle {
            font-family: fonts.$text-font-family;
            font-weight: 350;
            font-size: 2rem;
            max-width: 18ch;
            letter-spacing: 1.2px;
            @include breakpoints.desktop {
                font-size: 3.5rem;
                letter-spacing: 1.5px;
            }
        }
    }
}
