@use "styles/sass/core/colors";
@use "styles/sass/core/screens";
@use "styles/sass/core/layout";
@use "styles/sass/core/typography";
@use "styles/sass/functions/breakpoints";

.container {
    @include layout.container;
    background-color: colors.$dark;
    width: 100%;
    display: flex;
    background-size: cover;

    .textContainer {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        color: colors.$light;
        @include layout.max-container;
        @include breakpoints.desktop {
            padding-inline: 4rem;
            flex-direction: row;
        }

        .title {
            @include typography.section-title;
            @include breakpoints.desktop {
                max-width: 50%;
            }
        }

        .skillsContainer {
            @include breakpoints.desktop {
                width: 50%;
                margin-left: auto;
            }
            .techs {
                display: flex;
                justify-content: space-around;
                gap: 5rem;
                margin-top: 4rem;
                @include breakpoints.desktop {
                    margin-top: 6rem;
                }

                .logo {
                    height: 200px;
                    position: relative;
                    flex: 1;
                }
            }
        }
    }
}
