@use "styles/sass/core/layout";
@use "styles/sass/core/colors";
@use "styles/sass/core/typography";
@use "styles/sass/functions/breakpoints";

.description {
    position: relative;
    overflow: hidden;
    color: colors.$light;

    @include breakpoints.desktop {
        padding: 1rem;
    }

    .title {
        margin-bottom: 2rem;
        @include typography.section-title-h3;

        @include breakpoints.mobile {
            text-align: center;
        }
    }

    .fullText {
        overflow: auto;
        max-height: 320px;
        padding-right: 1rem;

        @include breakpoints.mobile {
            max-height: 350px;
        }

        @include breakpoints.tablet {
            max-height: 250px;
        }

        @include breakpoints.desktop {
            max-height: 300px;
        }

        &::-webkit-scrollbar {
            width: 6px;
        }

        &::-webkit-scrollbar-track {
            background-color: transparent;
            border-radius: 100px;
        }

        &::-webkit-scrollbar-thumb {
            background-color: transparentize(colors.$light, 0.8);
            border-radius: 100px;
        }
    }

    .button {
        margin-top: 2rem;
        margin-inline: auto;
    }
}
