@use "styles/sass/core/colors";
@use "styles/sass/core/typography";

.interactionRoot {
    display: flex;
    justify-content: center;

    .dialogBox {
        position: absolute;
        background-color: colors.$light;
        border: 1px solid colors.$primary;
        outline: 4px solid colors.$light;
        border-radius: 12px;
        padding: 0.4rem;
        bottom: 24px;
        width: 80%;

        .text {
            color: colors.$dark;
        }

        .options {
            display: grid;
            list-style: none;
            gap: 0.4rem;
            grid-column: 2;
            grid-row: 2;
        }

        .button {
            margin-left: auto;
        }
    }
}
