@use "styles/sass/core/colors";
@use "styles/sass/core/typography";

.interactionRoot {
    display: flex;
    justify-content: center;

    .dialogBox {
        position: absolute;
        background-color: rgba(colors.$primary, 0.8);
        backdrop-filter: blur(6px);
        padding: 0.4rem 3rem;
        bottom: 48px;
        width: 80%;
        box-shadow: 10px 10px 5px -4px rgba(0, 0, 0, 0.59);

        .line {
            position: absolute;
            background-color: colors.$light;
        }

        .line1 {
            animation: expend-height 1s;
            transform-origin: top;
            top: -48px;
            left: 0;
            height: 100%;
            width: 2px;
            scale: 1 1.6;
        }

        .line3 {
            animation: expend-height 1s;
            transform-origin: bottom;
            top: 10%;
            right: 0;
            height: 100%;
            width: 2px;
        }

        .line4 {
            animation:
                expend-width 1s,
                move-horizontal 10s infinite forwards;
            top: 0;
            left: -48px;
            transform-origin: left;
            height: 2px;
            width: 100%;
            scale: 1.1 1;
        }

        .line5 {
            animation:
                expend-width 1s,
                move-horizontal 10s infinite forwards;
            animation-delay: 0s, 1s;
            transform-origin: right;
            bottom: 64px;
            right: -40%;
            height: 2px;
            width: 100%;
            scale: 0.6 1;
        }

        .text {
            color: colors.$light;
            margin-bottom: 32px;
            font-size: 1.2rem;
        }

        .options {
            padding: 0;
            display: flex;
            list-style: none;
            gap: 0.4rem;
            grid-column: 2;
            grid-row: 2;
        }

        .button {
            margin-left: auto;
        }
    }
}

@keyframes expend-width {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}

@keyframes expend-height {
    from {
        height: 0;
    }
    to {
        height: 100%;
    }
}

@keyframes move-horizontal {
    0% {
        transform: translateX(-16px);
    }
    50% {
        transform: translateX(16px);
    }
    100% {
        transform: translateX(-16px);
    }
}
